body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    background-color: #9a8a23;
}
.cart {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    max-width: 320px;
    width: 100%;
    border: 1px solid black;
    background-color: white;
    padding: 22px;
}
.cart-image img {
    width: 100%;
    border-radius: 10px;
    height:200px;
    object-fit: cover;
}
.cart-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
 }
 .cart-info button {
     margin-top: 10px;
     color: black;
     border-radius: 10px;
     padding:4px;
     font-size: 13px;
     background-color: #FFE338;
 }
.cart-info button:hover {
    background-color:beige;
}
.cart-info p 
{
     font-family: inherit;
     font-weight: 300;
     font-size: 12px;   
 }
.cart-text{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}
.cart-text h1{
    font-size: 18px;
}
.cart-text p{
    margin: 0px;
    justify-content: start;
    font-size: 12px;
    font-weight: 200;
}

.cart-footer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.cart-footer-info img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}

.cart-footer-info p {
    padding:10px;
    font-family:inherit;
    font-weight: 500;
    font-size: 12px;
}
